:root{
    --black: #000000;
    --ivory: #fffff0;
    --gray: #d3d3d3;
    --darkgray:#a9a9a9;
}


header{
    font-family: Arial, Helvetica, sans-serif;
    padding:0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: white;
}

header h1 a{
    color: var(--black);
    text-decoration: none;
}

header nav{
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--black);
}

header nav ul li a:hover{
    background: var(--black);
    color: var(--ivory);
    border-radius: 20px;
}

.contents{
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents #portfolio-projects{
    background-color: var(--black);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}

.contents #portfolio-projects #project-one img{
    width: 200px;
    margin: 10px;
    flex: 1;
}

.contents #portfolio-projects #project-two img{
    width: 200px;
    margin: 10px;
    flex: 2;
}

.contents #portfolio-projects #project-three img{
    width: 200px;
    margin: 10px;
    flex: 3;
}

#portfolio-projects #project-four img{
    width: 200px;
    margin: 10px;
    flex: 4;
}

.contents .project-details{
    width: 100%;
    background-color: var(--darkgray);
    border-radius: 10px;
    float:right;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contents .project-details #project-one-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
    font-size: 16px;
}

.contents .project-details #project-one-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-one-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-one-detail .project-web-images img{
    width: 100%;
}

.contents .project-details #project-two-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
    font-size: 16px;
}

.contents .project-details #project-two-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-two-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-two-detail .project-web-images img{
    width: 100%;
}

.contents .project-details #project-three-detail h2{
        color: var(--ivory);
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px 20px 0 20px;
        font-size: 16px;
}
    
.contents .project-details #project-three-detail h2 a{
        text-decoration: none;
        color: var(--ivory);
    }
    
.contents .project-details #project-three-detail .project-web-images{
        padding: 20px;
    }
    
.contents .project-details #project-three-detail .project-web-images img{
        width: 100%;
}

.contents .project-details #project-four-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
    font-size: 16px;
}

.contents .project-details #project-four-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-four-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-four-detail .project-web-images img{
    width: 100%;
}

.contents #about-me{
    width: 100%;
    margin:20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
    border-radius: 10px;
}

.contents #about-me #profile-left h2{
    margin: 20px;
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
}

.contents #about-me #profile-left img{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border: 2px solid white;
}

