:root{
    --black: #000000;
    --ivory: #fffff0;
    --darkgray:#a9a9a9;
}


header{
    font-family: Arial, Helvetica, sans-serif;
    padding:0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: white;
}

header h1 a{
    color: var(--black);
    text-decoration: none;
}

header nav{
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: none;
    color: var(--black);
}

header nav ul li a:hover{
    background: var(--black);
    color: var(--ivory);
    border-radius: 20px;
}

.contents{
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents #portfolio-projects{
    background-color: var(--black);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}

.contents #portfolio-projects #project-one img{
    width: 200px;
    margin: 10px;
    flex: 1;
}

.contents #portfolio-projects #project-two img{
    width: 200px;
    margin: 10px;
    flex: 2;
}

.contents #portfolio-projects #project-three img{
    width: 200px;
    margin: 10px;
    flex: 3;
}

#portfolio-projects #project-four img{
    width: 200px;
    margin: 10px;
    flex: 4;
}

.contents .project-details{
    width: 100%;
    background-color: var(--darkgray);
    border-radius: 10px;
    float:right;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contents .project-details #project-one-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
}

.contents .project-details #project-one-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-one-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-one-detail .project-web-images img{
    width: 100%;
}

.contents .project-details #project-two-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
}

.contents .project-details #project-two-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-two-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-two-detail .project-web-images img{
    width: 100%;
}

.contents .project-details #project-three-detail h2{
        color: var(--ivory);
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px 20px 0 20px;
}
    
.contents .project-details #project-three-detail h2 a{
        text-decoration: none;
        color: var(--ivory);
    }
    
.contents .project-details #project-three-detail .project-web-images{
        padding: 20px;
    }
    
.contents .project-details #project-three-detail .project-web-images img{
        width: 100%;
}

.contents .project-details #project-four-detail h2{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 0 20px;
}

.contents .project-details #project-four-detail h2 a{
    text-decoration: none;
    color: var(--ivory);
}

.contents .project-details #project-four-detail .project-web-images{
    padding: 20px;
}

.contents .project-details #project-four-detail .project-web-images img{
    width: 100%;
}

.contents #about-me{
    width: 100%;
    margin:20px;
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--darkgray);
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ivory);
    text-align: center;

}

.contents #about-me h3{
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
}

.contents #about-me img{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    border: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contents #contact-me{
    width: 100%;
    margin:20px;
    display: block;
    /*flex-wrap: wrap;*/
    background-color: var(--darkgray);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ivory);
}

#contact-me-center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    /*align-items: center;*/
}

.contents #contact-me h3{
    margin: 20px;
}

.contents form label{
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contents form input,
.contents form textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 240, 0.5);
}

.contents form button{
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 240, 0.5);
    color: var(--black);
}

@media screen and (max-width: 1024px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    /*nav{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }*/

    .nav {
        margin:0px auto;
        width:90%;
    }
    ul {
        list-style-type:none;
        padding:0;
    }
    li {
        float: left;
        width:18%;
    }
    li a {
        width:100%;
    }

    header nav ul{
        margin-top: 20px;
        width: 100%;;
    }

    header nav ul li a{
        font-size: 24px;
    }

    header nav ul li a:hover{
        background: var(--black);
        color: var(--ivory);
        border-radius: 20px;
    }
}

@media screen and (max-width: 375px) {
    header h1{
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    header nav ul li a{
        font-size: 12px;
    }

    header nav ul li a:hover{
        background: var(--black);
        color: var(--ivory);
        border-radius: 20px;
    }

    .contents{
    font-size:12px;
    }

    .contents #about-me{
        font-size: 12px;
    }
}